        h1 {
            color: white !important;
        }

        h1 span {
            color: green !important;
        }

        body {
            font-family: Arial, sans-serif;
        }

        .tag {
            display: inline-flex;
            align-items: center;
            background-color: #28a745;
            ;
            color: #fff;
            padding: 5px 10px;
            border-radius: 1px;
            margin: 5px;
        }

        .tag .remove {
            margin-left: 10px;
            cursor: pointer;
            font-weight: bold;
        }

        .tag:hover {
            opacity: 0.9;
        }

        .star-wrapper {
            display: flex;
            gap: 5px;
            font-size: 2.2rem;
            cursor: pointer;
            color: #ccc;
        }

        .star-wrapper i {
            transition: color 0.2s ease;
        }

        .star-wrapper i.hovered,
        .star-wrapper i.selected {
            color: #ffc107;
        }

        .average-stars {
            position: relative;
            display: inline-block;
            font-size: 2rem;
            color: #ccc;
        }

        .average-stars .filled-stars {
            color: #ffc107;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
            pointer-events: none;
        }


        h1,
        h6 {
            margin: 20px 0;
            animation: fadeInUp 1.5s ease-out forwards;
            opacity: 0;
        }

        h1 {
            font-size: 3em;
            font-weight: bold;
        }

        h6.sale {
            font-size: 1.0em;
            font-weight: 900;
            padding: 10px 20px;
            display: inline-block;
            border-radius: 30px;
        }

        .animated-gradient {
            background: linear-gradient(270deg,
                    #ff416c,
                    #ff4b2b,
                    #ffce00,
                    #4caf50,
                    #2196f3,
                    #9c27b0,
                    #ff416c);
            background-size: 1000% 1000%;
            /* -webkit-background-clip: text; */
            -webkit-text-fill-color: transparent;
            animation: gradientMove 5s linear infinite, blink 1.5s infinite;
            display: inline-block;
        }

        @keyframes gradientMove {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(30px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes blink {

            0%,
            100% {
                opacity: 1;
            }

            50% {
                opacity: 0.5;
            }
        }

        .fs-responsive {
            font-size: 0.9rem;
        }

        @media (max-width: 768px) {
            .fs-responsive {
                font-size: 0.85rem;
            }

            .property-img {
                height: 200px !important;
            }
        }

        h5 {
            color: white
        }

        /* Modal Styles */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 400px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .close-btn {
            margin-top: 20px;
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }